.number{
  font-size: 35px;
}
.explain{
  font-size: 15px;
  font-weight: lighter;
  text-align: justify;
  width: 100%;
}
.unit{
  font-size: 15px;
  font-weight: bold;
}

@media screen and (min-width: 773px) {
  .explain {
    width: 80%;
  }
}